{% extends "base.html" %}
{% block content %}
<h2>Summary of Scores</h2>
<table>
    <thead>
        <tr>
            <th>Project</th>
            {% for judge in judges %}
                <th>{{ judge.username }}</th>
            {% endfor %}
            <th>Average Score</th>
        </tr>
    </thead>
    <tbody>
        {% for project in summary_data %}
            <tr>
                <td>{{ project.project_name }}</td>
                {% for judge in judges %}
                    <td>
                        {{ project.judges_scores.get(judge.username, 'No score yet') }}
                    </td>
                {% endfor %}
                <td>{{ project.average_score }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}