<!-- templates/summary.html -->
{% extends "base.html" %}
{% block content %}
<h2>Summary of Scores</h2>

<table class="summary-table">
    <thead>
        <tr>
            <th>Project Name</th>
            {% for judge in judges %}
                <th>{{ judge.username }}</th>
            {% endfor %}
            <th>Total Score</th>
        </tr>
    </thead>
    <tbody>
        {% for project in summary_data %}
        <tr>
            <td>{{ project.project_name }}</td>
            {% for judge in judges %}
                <td>
                    {{ project.judges_scores[judge.username] }}
                </td>
            {% endfor %}
            <td><strong>{{ project.total_score }}</strong></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}